{% extends "base.html" %}
{% load staticfiles %}
{% block css_files %}
 <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="jumbotron" id="index-header">
      <div class="container">
        <div id="index-header-text">
          <h1>Techie with an <br> Artistic Flair.<br></h1>
          <h3>Art + Code = Vision.<br> Looking for a programmer? </h3>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
          data-target=".contactModal">Let's Talk! </button>
        </div>
      </div>
    </div>
    <!-- Modal -->
<div class="modal fade contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Get in Touch</h4>
      </div>
      <div class="modal-body">
        <form role="form">
    <div class="form-group">
        
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
          <input type="text" class="form-control" placeholder="Your Name" aria-describedby="sizing-addon1">
        </div>
        
         <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon2">@</span>
          <input type="text" class="form-control" placeholder="Your Email" aria-describedby="sizing-addon2">
        </div>
        <textarea class="form-control" rows="5" ></textarea>
    </div>
  </form>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
   
 
      <!-- START THE FEATURETTES -->
<div class="features">
  <div class="jumbotron feature">
    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wide Breadth of Knowledge <br><span class="text-muted">From A.I. to Game Development</span></h2>
          <p class="lead">Carnegie Mellon taught with additional self taught knowledge. Whether it's a video game development project for school or a prototype for an innovative, enterprise system, my heart is always in my work and I take great pride in every project I've tackled. </p>
        </div>
        <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="{% static 'img/cmu.png' %}" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron feature" >
    <div class="container">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Balanced <br><span class="text-muted"> Well Rounded and Easy to Work with</span></h2>
          <p class="lead">Passionate, Driven, and Strong communication skills make me an excellent candidated for all your project needs. Need a Website? Let me help you. We'll get something done to your specifications and satisfaction.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="{% static 'img/stones.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
     
  <div class="jumbotron feature" >
    <div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ambitious and Self Taught<br> <span class="text-muted">Always takes the initive to get things done</span></h2>
          <p class="lead">I'm a self taught artist, and have learned many programming languages and frameworks in my spare time. I'm always looking to go that extra mile to bring my projects to fruition.</p>
        </div>
        <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="{% static 'img/pencils.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
</div>
      <!-- /END THE FEATURETTES -->
      {% endblock %}
    
  
