{% extends "base.html" %}
{% load staticfiles %}
{% block page_title %}LB| Home{% endblock %}
{% block css_files %}
 <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block js_files %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block nav_links %}
    <li class=active><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'projects' %}">Projects</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
{% endblock %}
{% block content %}
    <div class="jumbotron" id="index-header">
      <div class="container">
        <div id="index-header-text">
          <h1>Techie with an <br> Artistic Flair.<br></h1>
          <h3>Art + Code = Vision.<br> Looking for a programmer? </h3>
          <button type="button" class="btn btn-primary btn-lg">Let's Talk! </button>
        </div>
      </div>
    </div>
   
      <!-- START THE FEATURETTES -->
<div class="features">
  <div class="jumbotron feature" id="feature1">
    <div class="container">
      <div class="row featurette" id="featurette1">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wide Breadth of Knowledge <br><span class="text-muted">From A.I. to Game Development</span></h2>
          <p class="lead">Carnegie Mellon taught with additional self taught knowledge. Whether it's a video game development project for school or a prototype for an innovative, enterprise system, my heart is always in my work and I take great pride in every project I've tackled. </p>
        </div>
        <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="{% static 'img/cmu.png' %}" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron feature" id="feature2" >
    <div class="container">
      <div class="row featurette"  id="featurette2">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Balanced <br><span class="text-muted"> Well Rounded and Easy to Work with</span></h2>
          <p class="lead">Passionate, Driven, and Strong communication skills make me an excellent candidated for all your project needs. Need a Website? Let me help you. We'll get something done to your specifications and satisfaction.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="{% static 'img/stones.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
     
  <div class="jumbotron feature" id="feature3">
    <div class="container">
      <div class="row featurette"  id="featurette3">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ambitious and Self Taught<br> <span class="text-muted">Always takes the initive to get things done</span></h2>
          <p class="lead">I'm a self taught artist, and have learned many programming languages and frameworks in my spare time. I'm always looking to go that extra mile to bring my projects to fruition.</p>
        </div>
        <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="{% static 'img/pencils.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>
    </div>
  </div>
</div>
      <!-- /END THE FEATURETTES -->
      {% endblock %}
    
  
