.about-thumbnail{
    max-width:100%;
    position:relative;
    
    background:rgba(254,209,54,.45);
    opacity:.75;
    transition:all ease .5s;-webkit-transition:all ease .5s;
    -moz-transition:all ease .5s;
}

.about-thumbnail:hover{
     opacity:1;
}
.about-thumbnail-container{
    margin:30px 30px;
}

#about-img{
    max-width:100%;
    max-height:350px;
    position:relative;
}
