#index-header{
    background-color:#000; /*#384766;*/
    color:#fff;
    /*background-image:  linear-gradient(
      rgba(141, 73, 58, 0.25), 
      rgba(94, 46, 31, 0.25)
    ),url("/img/laptop.jpg");*/
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}
#index-header-text{
     background-color:rgba(255, 255, 255, 0.25);
     padding: 1em;
}

.btn-primary,.btn-primary.focus, .btn-primary:focus{
    color: #000;
    background-color: #FED136;
    border-color: #FED136;
    border-radius:0px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #E8B916;
    border-color: #FED136;
    border-radius:0px;
}
.jumbotron.feature{
    
    
    background-color:#fff;
    color:#000;
}

.jumbotron.feature:first-child .featurette-image:first-child{
    max-width:300px;
}
.jumbotron.feature:nth-child(2){
    background-color: #000;/*#384766;*/
    color:#fff;
    
}
.container.marketing{
    margin-bottom:3em;
}


