#index-header{
    background-color:#000; /*#384766;*/
    color:#F5F5F5;
    background: url("../img/pencils2.jpg");
    background-size: 1500px 600px;
    background-repeat: no-repeat;
    padding: 1em;
}
#index-header-text{
     background-color:rgba(0, 0, 0, 0.25);
     padding: 1em;
}

.btn-primary,.btn-primary.focus, .btn-primary:focus{
    color: #000;
    background-color: #FED136;
    border-color: #FED136;
    border-radius:0px;
}
.btn-primary:hover {
    background-color: #E8B916;
    border-color: #FED136;
    border-radius:0px;
}
.jumbotron.feature{
    
    height:500px;    
    background-color:#fff;
    color:#000;
}

.jumbotron.feature:first-child .featurette-image:first-child{
    max-width:300px;
}
.jumbotron.feature:nth-child(2){
    background-color: #000;/*#384766;*/
    color:#fff;
    
}
.container.marketing{
    margin-bottom:3em;
}

#banner-img{
    width:200px;
}
.featurette{
        margin-top:7%;
}
