.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 300px;
	margin: 0;
	text-align: center;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	height:200px;
	max-width:100%;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #000;
	color: #FED136;

}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}


.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}



.transition-style figure {
	overflow: hidden;
}

.transition-style figure img {
	transition: transform 0.4s;
}

.transition-style figure:hover img,
.transition-style figure.cs-hover img {
	transform: translateY(-50px);
}

.transition-style figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.transition-style figure:hover figcaption,
.transition-style figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.transition-style figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#post_body{
        font-size:16px;
        margin-bottom:40px;
}
.img-responsive.center-block{
        margin-bottom:40px;
        max-width:500px;
}

